.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #028bff;
    padding: 16px 8px;

    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
}